@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <img src="~/fundstack_logo.png" alt="Fundstack Logo" class="img-fluid" style="opacity: .8">
</div>
