@model AddAssetFormModel
@{
    ViewData["Title"] = "Add Asset";
}
@ViewBag.Error

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-col-8 offset-lg-3 col-xl-6 mt-3 mb-5">
        <h2 class="heading-margin text-left">Add Asset</h2>
        <form method="post">
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control" style="text-transform:uppercase" placeholder="BTC, ETH, AAPL...">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="TypeId">Type of asset</label>
                <select asp-for="TypeId" class="form-control">
                    <option hidden disabled="disabled" selected="selected">Please select asset type</option>
                    @foreach  (var type in Model.Types)
                    {
                        <option value="@type.Id">@type.Name</option>
                    }
                </select>
                <span asp-validation-for="TypeId" class="text-danger"></span>
                <span asp-validation-for="Types" class="text-danger"></span>
            </div>

            <label asp-for="BuyPrice" class="mt-2">Buy Price</label>   

            <div class="input-group">            
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input asp-for="BuyPrice" class="form-control" placeholder="$">
                <span asp-validation-for="BuyPrice" class="text-danger"></span>
            </div>

            <label asp-for="InvestedMoney" class="mt-2">Invested Money</label>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input asp-for="InvestedMoney" class="form-control" placeholder="$">
                <span asp-validation-for="InvestedMoney" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Description">Description</label>
                <textarea asp-for="Description" class="form-control" rows="2" placeholder="Add note about the asset..."><</textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <input class="btn btn-primary mt-3" type="submit" value="Add" />
        </form>
    </div>
</div>

@section Scripts{
<script>
    var settings;
        $(document).ready(function() {
            $("#TypeId").on("input", function(){
                var select = document.getElementById('TypeId');
                console.log(select)
                var value = select.options[select.selectedIndex].text;
                console.log(value)
                if(value === "Crypto"){
        let name = document.querySelector('#Name').value
        console.log(name)
        settings = {
        "async": true,
        "crossDomain": true,
        "url": "https://coinranking1.p.rapidapi.com/coins?symbols=" + name,
        "method": "GET",
        "headers": {
            "x-rapidapi-host": "coinranking1.p.rapidapi.com",
            "x-rapidapi-key": "35fe9782bemsh451fb4a3e35b09ap115869jsnaa66c6d112dd"
        }
        }
        $.ajax(settings).done(function (response) {
        $("#BuyPrice").val(response.data.coins[0].price)
            })
                }
                 else {
                    let name = document.querySelector('#Name').value
        console.log(name)
        settings = {
        "async": true,
        "crossDomain": true,
        "url": "https://twelve-data1.p.rapidapi.com/price?symbol=" + name + "&format=json&outputsize=30",
        "method": "GET",
        "headers": {
            "x-rapidapi-host": "twelve-data1.p.rapidapi.com",
            "x-rapidapi-key": "35fe9782bemsh451fb4a3e35b09ap115869jsnaa66c6d112dd"
        }
        }
        $.ajax(settings).done(function (response) {
        $("#BuyPrice").val(response.price)
    });
    };

            });
        });
</script>
}
