@using FundStack.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
<nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Portfolio
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Portfolio" asp-action="Value">Portfolio Overview</a>
    </li>
      <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Portfolio" asp-action="Statistics">Statistics</a>
    </li>
      <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="PortfolioHistory" asp-action="TotalValue">History</a>
    </li>
    </ul>
    <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Assets
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
          
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Assets" asp-action="All">My Assets</a>
    </li>
     <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Assets" asp-action="AddAsset">Add Asset</a>
    </li>
     <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="AssetsHistory" asp-action="AllHistory">Assets History</a>
    </li>
  </ul>
      <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
        </li>
</nav>

}
else
{
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
      </ul>
</nav>
}
</ul>
