<style>

.container {
  padding-right: 15px;
  padding-left: 15px;
}

.card {display:inline-block;}

h4 { margin-bottom: 30px; }

.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

.card-text{
  font-size: 19px;
  font-weight: bold;

}

.red {
  background-color: #CD6155 ;
}

.orange {
  background-color: #F5B041 ;
}

.cyan {
  background-color: #76D7C4;
}

.green {
  background-color: #2ECC71;
}
</style>

<h4 class="ml-5">Fear and Greed Index</h4>
<div class="container ml-0">
    <div class="row">

<div class="card mr-5 ml-5" style="width: 18rem;">
    <h5 class="mt-3 ml-3">Crypto Market</h5>
  <div class="" id="nowCard">
    <h5 class="card-title">Now:</h5>
    <div class="card-text" id="valueNow"></div>
    <div class="card-text" id="textNow"></div>
  </div> 
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Yesterday:
    <div class="text-nowrap" id="valueYst"></div>
    <div class="text-nowrap" id="textYst"></div>     
    </li>
    <li class="list-group-item">Last Week:
    <div class="text-nowrap" id="valueLstWeek"></div>
        <div class="text-nowrap" id="textLstWeek"></div>
    </li>
  </ul>
  </div>

  
<div class="card ml-5" style="width: 18rem;">
    <h5 class="mt-3 ml-3">Stock Market</h5>
  <div class="" id="nowCardStock">
    <h5 class="card-title">Now:</h5>
    <div class="card-text" id="valueNowStock"></div>
    <div class="card-text" id="textNowStock"></div>
  </div> 
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Yesterday:
    <div class="text-nowrap" id="valueYstStock"></div>
        <div class="text-nowrap" id="textYstStock"></div>     
    </li>
    <li class="list-group-item">Last Week:
    <div class="text-nowrap" id="valueLstWeekStock"></div>
        <div class="text-nowrap" id="textLstWeekStock"></div>
    </li>
  </ul>
  </div>
   </div>
   </div>

<script>
    fetch('https://api.alternative.me/fng/?limit=8')
  .then((response) => {
    return response.json();
  })
  .then((data) => {
    document.getElementById("valueNow").textContent = data.data[0].value;
    document.getElementById("valueYst").textContent = data.data[1].value;
    document.getElementById("valueLstWeek").textContent = data.data[7].value;

    document.getElementById("textNow").textContent = data.data[0].value_classification;
    document.getElementById("textYst").textContent = data.data[1].value_classification;
    document.getElementById("textLstWeek").textContent = data.data[7].value_classification;

    if (document.getElementById("valueNow").textContent >= 0 &&
      document.getElementById("valueNow").textContent < 25) {
      document.getElementById("nowCard").className = "card-body red";
    } else if (document.getElementById("valueNow").textContent >= 25 &&
      document.getElementById("valueNow").textContent < 50) {
      document.getElementById("nowCard").className = "card-body orange";
    } else if (document.getElementById("valueNow").textContent >= 50 &&
      document.getElementById("valueNow").textContent < 75) {
      document.getElementById("nowCard").className = "card-body cyan";
    } else if (document.getElementById("valueNow").textContent >= 75 &&
      document.getElementById("valueNow").textContent < 100) {
      document.getElementById("nowCard").className = "card-body green";
    }

  });

      fetch("https://fear-and-greed-index.p.rapidapi.com/v1/fgi", {
        "method": "GET",
        "headers": {
            "x-rapidapi-host": "fear-and-greed-index.p.rapidapi.com",
            "x-rapidapi-key": "35fe9782bemsh451fb4a3e35b09ap115869jsnaa66c6d112dd"
        }
    })
    .then((response) => {
        return response.json();
      })
      .then((data) => {
    document.getElementById("valueNowStock").textContent = data.fgi.now.value;
    document.getElementById("valueYstStock").textContent =  data.fgi.previousClose.value;
    document.getElementById("valueLstWeekStock").textContent = data.fgi.oneWeekAgo.value;

    document.getElementById("textNowStock").textContent = data.fgi.now.valueText;
    document.getElementById("textYstStock").textContent = data.fgi.previousClose.valueText;
    document.getElementById("textLstWeekStock").textContent = data.fgi.oneWeekAgo.valueText;

    if (document.getElementById("valueNowStock").textContent >= 0 &&
      document.getElementById("valueNowStock").textContent < 25) {
      document.getElementById("nowCardStock").className = "card-body red";
    } else if (document.getElementById("valueNowStock").textContent >= 25 &&
      document.getElementById("valueNowStock").textContent < 50) {
      document.getElementById("nowCardStock").className = "card-body orange";
    } else if (document.getElementById("valueNowStock").textContent >= 50 &&
      document.getElementById("valueNowStock").textContent < 75) {
      document.getElementById("nowCardStock").className = "card-body cyan";
    } else if (document.getElementById("valueNowStock").textContent >= 75 &&
      document.getElementById("valueNowStock").textContent < 100) {
      document.getElementById("nowCardStock").className = "card-body green";
    }
        });
</script>