<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-col-8 offset-lg-3 col-xl-6 mt-3 mb-5">
        <div class="card ">
            <div class="card-body">
                <h2 class="heading-margin text-left">No Assets Available!</h2>
                <h6>You have no money available. You can add assets to your portfolio here:</h6>
                <button type="button" class="btn btn-primary mt-1" value="Open"
                        onclick="location.href='@Url.Action("AddAssets", "Assets")'">
                    Add Money
                </button>
            </div>
        </div>
    </div>
</div>
