@model PortfolioStatisticServiceModel

<div class="row">
      <div class="container my-4">

    <h5>Portfolio Statistics</h5>
      <hr class="my-4">
    <div>
        <h5>Invested money by asset type and value ($)</h5>
      <canvas id="pieChart" style="max-width: 300px; max-height: 500px"></canvas>
    </div>

  </div>
</div>

@section Scripts{
<script src="~/lib/Chart.js/chart.min.js"></script>
<script>
    var assetTypes = @Html.Raw(Json.Serialize(Model.Statistics.Keys));
    var assetValues = @Html.Raw(Json.Serialize(Model.Statistics.Values));

    console.log(assetTypes)
    console.log(assetValues)

    var ctxP = document.getElementById("pieChart").getContext('2d');
    var myPieChart = new Chart(ctxP, {
      type: 'pie',
      data: {
        labels: assetTypes,
        datasets: [{
          data: assetValues,
          backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
          hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
        }]
      },
      options: {
        responsive: true,
         plugins: {
      datalabels: {
        formatter: (value) => {
          return value + '%';
        }
      }
    }
      }
    });
</script>
}