@model PortfolioStatisticServiceModel

<h3 class="ml-3 mb-3">Portfolio Statistics</h3>
    <div class="row">
        @{await Html.RenderPartialAsync("_StatsPieChart", new StatsPieChartViewModel{Id = "Total", Statistics = Model.TotalStatistics});}
        @{await Html.RenderPartialAsync("_StatsPieChart", new StatsPieChartViewModel{Id = "Crypto", Statistics = Model.CryptoStatistics});}
        @{await Html.RenderPartialAsync("_StatsPieChart", new StatsPieChartViewModel{Id = "Stock", Statistics = Model.StockStatistics});}
        @{await Html.RenderPartialAsync("_StatsPieChart", new StatsPieChartViewModel{Id = "ETF", Statistics = Model.EtfStatistics});}
    </div>