@model ValuePortfolioServiceModel

<style>
#frame1 {
  border-radius: 15px;
  border: 4px solid #73AD21;
  padding: 5%; 
  width: 30%;
  height: 0;
  padding-bottom: 10%;
}

.nowrap {
  white-space: nowrap ;
}

input, label {
    display:block;
}
</style>
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-col-8 offset-lg-3 col-xl-6 mt-3 mb-5">
        <h2 class="heading-margin text-left mb-3">Sell Asset</h2>
        <span class="nowrap">$@Model.AvailableMoney + $@Model.InvestedMoney</span>
        @if (@Model.ProfitLoss > 0)
        {
            <span class="nowrap" type="text" style="color:green">+ $@Model.ProfitLoss</span>
        }
        else if (@Model.ProfitLoss < 0)
        {
            <span class="nowrap" type="text" style="color:red">$@Model.ProfitLoss</span>
        }
        else
        {
            <span class="nowrap">+ $@Model.ProfitLoss</span>
        }
        <span class="nowrap"> = $@Model.TotalValue</span>
    </div>
</div>